In [1]:
from sklearn.preprocessing import OneHotEncoder
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.preprocessing import Imputer
d=pd.read_csv('./chronic_kidney_with_class.csv')
d.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48,80,1.020,1,0,?,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7,50,1.020,4,0,?,normal,notpresent,notpresent,...,38,6000,?,no,no,no,good,no,no,ckd
2,2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,3,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [2]:
d.replace('?',np.nan,inplace=True)
d.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48,80,1.020,1,0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7,50,1.020,4,0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
d.columns

Index(['Unnamed: 0', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod',
       'pot', 'hemo', 'pcv', 'wc', 'rc', 'rbc', 'pc', 'pcc', 'ba', 'htn', 'dm',
       'cad', 'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [4]:
d[['age','bp','sg','al','su','pot','hemo','pcv','wc','rc','rbc','pc','pcc','ba']]=d[['age','bp','sg','al','su','pot','hemo','pcv','wc','rc','rbc','pc','pcc','ba']].astype(float)

In [5]:
d.head()

,Unnamed: 0,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [6]:
d.shape

(400, 26)

In [7]:
d=pd.get_dummies(d)

In [8]:
d.head()

,Unnamed: 0,age,bp,sg,al,su,pot,hemo,pcv,wc,...,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes,class_ckd,class_notckd
0,0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,...,1,0,1,0,1,0,1,0,1,0
1,1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,...,1,0,1,0,1,0,1,0,1,0
2,2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,...,1,0,0,1,1,0,0,1,1,0
3,3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,...,1,0,0,1,0,1,0,1,1,0
4,4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,...,1,0,1,0,1,0,1,0,1,0

In [9]:
d.shape

(400, 38)

In [10]:
d.isnull().sum()

Unnamed: 0          0
age                 9
bp                 12
sg                 47
al                 46
su                 49
pot                44
hemo               19
pcv                17
wc                 87
rc                 88
rbc                52
pc                 71
pcc               106
ba                131
bgr_abnormal        0
bgr_normal          0
bu_abnormal         0
bu_normal           0
sc_notpresent       0
sc_present          0
sod_notpresent      0
sod_present         0
htn_no              0
htn_yes             0
dm_ yes             0
dm_no               0
dm_yes              0
cad_no              0
cad_yes             0
appet_good          0
appet_poor          0
pe_no               0
pe_yes              0
ane_no              0
ane_yes             0
class_ckd           0
class_notckd        0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
x=d.iloc[:,:-1]
y=d.iloc[:,-1]
imp=Imputer(missing_values='NaN',strategy='median',axis=0)
xgc=xgb.XGBClassifier(objective='binary:logistic',n_estimators=10,seed=123)
s=[('imp',imp),('xgc',xgc)]
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.3,random_state=2)
p=Pipeline(s)
p.fit(x_tr,y_tr)
p.predict(x_ts)
p.score(x_ts,y_ts)

E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

1.0